// COLORS

// Primary

$orange: #ff7d1a;
$pale-orange: #ffede0;

// Neutral

$very-dark-blue: #1d2025;
$dark-greyish-blue: #68707d;
$greyish-blue: #b6bcc8;
$light-greyish-blue: #f7f8fd;
$light-grey: #e4e9f2;
$white: #ffffff;
$black: #000000;
