// DESKTOP
.container {
  padding: 1.7rem 10.3rem;
}

// TABLET
@media only screen and (max-width: 1119px) {
  .container {
    padding: 0.85rem 5.15rem;
  }
}

// MOBILE
@media only screen and (max-width: 500px) {
  .container {
    padding: 0.5rem 1.5rem;
  }
}
