/* Desktop */
.container {
  padding: 1.7rem 10.3rem;

  .main-page-container {
    margin-top: 96px;
    margin-left: 44.5px;

    .product-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

/* Tablet */
@media only screen and (max-width: 1119px) {
  .container {
    padding: 0.85rem 5.15rem 4.4rem 5.15rem;

    .product-container {
      flex-direction: column;
    }
  }
}

/* Mobile */
@media only screen and (max-width: 500px) {
  .container {
    padding: 0;
  }
}
