/* Desktop */
.container {
  padding: 1.7rem 10.3rem;

  .main-page-container {
    margin-top: 96px;
    display: flex;
    justify-content: center;

    .product-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

/* Tablet */
@media only screen and (max-width: 1119px) {
  .container {
    padding: 0.85rem 5.15rem 4.4rem 5.15rem;

    .main-page-container {
      margin-top: 48px;
      .product-container {
        flex-direction: column;
        width: 608px;
      }
    }
  }
}

/* Mobile */
@media only screen and (max-width: 500px) {
  .container {
    padding: 0;

    .main-page-container {
      margin-top: 0;
      .product-container {
        flex-direction: column;
        width: 100%;
        align-items: stretch; /* let children use full inner width */
      }
    }
  }
}
