@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;

.card {
  width: 445px;
  // Tablet
  @media (max-width: 1119px) {
    width: 608px;
  }

  button {
    @include buttonReset;
  }

  /* Brand Name */
  .company-title {
    color: $dark-greyish-blue;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 24px;
  }

  /* Product Title */
  h1 {
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 32px;

    // Tablet
    @media (max-width: 1119px) {
      margin-bottom: 24px;
    }
  }

  /* Product Description */
  .product-description {
    color: $dark-greyish-blue;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 32px;

    // Tablet
    @media (max-width: 1119px) {
      margin-bottom: 24px;
    }
  }

  /* Sale Price + Discount */
  .sale-price-container {
    margin-bottom: 8px;
    display: flex;
    align-items: center;

    .sale-price {
      font-size: 28px;
      font-weight: 700;
      line-height: 32px;
      margin-right: 16px;
    }

    .discount {
      display: inline-block;
      padding: 0 9.5px;
      border-radius: 6px;
      color: $white;
      font-size: 16px;
      font-weight: 700;
      line-height: 26px;
      background-color: $very-dark-blue;
    }
  }

  .original-price {
    color: $dark-greyish-blue;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    text-decoration: line-through;
  }

  .add-to-cart-container {
    display: flex;
    gap: 16px;
    margin-top: 32px;

    // Tablet
    @media (max-width: 1119px) {
      margin-top: 24px;
    }

    .quantity-selector-container {
      // Tablet
      @media (max-width: 1119px) {
        width: 298px;
      }

      box-sizing: border-box;
      width: 157px;
      padding: 15px;
      border-radius: 10px;
      background-color: $light-greyish-blue;

      display: flex;
      justify-content: space-between;
      align-items: center;

      .decrement-icon,
      .increment-icon {
        width: 12px;

        &.disabled {
          opacity: 0.5;
        }
      }

      .decrement-icon {
        position: relative;
        top: -3px;
      }

      .quantity {
        font-size: 16px;
        font-weight: 700;
      }
    }

    .add-to-cart-button {
      // Tablet
      @media (max-width: 1119px) {
        width: 301px;
      }

      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;

      width: 272px;
      padding: 15px;
      border-radius: 10px;

      background-color: $orange;
      font-weight: 700;
      line-height: 26px;
      filter: drop-shadow(0 20px 50px rgba($orange, 0.25));

      &:hover {
        background-color: $medium-orange;
      }
    }
  }
}
