*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 400;
}

.navbar {
  height: 83px;
  overflow: hidden;
  border-bottom: 1px solid #e4e9f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  z-index: 80;
}
.navbar .menu-left {
  display: flex;
  align-items: center;
}
.navbar .menu-left .logo-img {
  height: 20px;
}
.navbar .menu-left .hamburger-icon {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  box-shadow: none;
  appearance: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  padding-right: 1rem;
  padding-top: 0.3rem;
}
.navbar .menu-left .hamburger-icon .fa-bars {
  color: #979797;
  font-size: 17px;
}
.navbar .menu-left .close-menu-icon {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  box-shadow: none;
  appearance: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transform: rotate(0deg);
  transition: transform 200ms cubic-bezier(0.34, 1.56, 0.64, 1.2), opacity 0.2s ease, visibility 0.2s ease;
}
.navbar .menu-left .close-menu-icon.showX {
  display: block;
  opacity: 1;
  visibility: visible;
  margin-bottom: 56px;
}
.navbar .menu-left .close-menu-icon.showX .fa-xmark {
  color: #68707d;
  font-size: 18px;
}
.navbar .menu-left .close-menu-icon.clicked {
  transform: rotate(-15deg);
}
.navbar .menu-left .nav-links ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.navbar .menu-left .nav-links ul li {
  position: relative;
  font-size: 15px;
  color: #68707d;
  line-height: 26px;
  margin-right: 2rem;
}
.navbar .menu-left .nav-links ul li::after {
  content: "";
  position: absolute;
  bottom: -28px;
  left: 0;
  width: 100%;
  height: 4px;
  background: #ff7d1a;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.navbar .menu-left .nav-links ul li:hover::after {
  opacity: 1;
}
@media (min-width: 1120px) {
  .navbar .menu-left .nav-links ul li:first-child {
    margin-left: 4rem;
  }
}
@media (max-width: 1119px) {
  .navbar .menu-left .nav-links {
    position: fixed;
    top: 0;
    left: -110%;
    width: 300px;
    height: 100vh;
    background-color: #ffffff;
    padding: 48px 0 0 80px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    transition: left 0.3s ease-in-out;
    z-index: 999;
  }
  .navbar .menu-left .nav-links ul {
    flex-direction: column;
  }
  .navbar .menu-left .nav-links ul li {
    margin: 1rem 0;
    font-size: 18px;
    font-weight: 700;
    color: #1d2025;
  }
  .navbar .menu-left .nav-links.open {
    left: 0;
  }
}
@media (min-width: 1120px) {
  .navbar .menu-left .hamburger-icon,
  .navbar .menu-left .close-menu-icon {
    display: none;
  }
}
.navbar .menu-right {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.navbar .menu-right .cart {
  position: relative;
  cursor: pointer;
}
.navbar .menu-right .cart .cart-quantity {
  position: absolute;
  top: -5px;
  right: -8px;
  height: 13px;
  width: 19px;
  background-color: #ff7d1a;
  color: #ffffff;
  font-size: 10px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  border-radius: 45%;
}
.navbar .menu-right .cart svg {
  fill: #68707d;
  transition: fill 0.2s ease-in-out;
}
.navbar .menu-right .cart svg:hover {
  fill: #1d2025;
}
.navbar .menu-right .profile-photo {
  height: 50px;
  border-radius: 100%;
  border: 2px solid transparent;
  transition: border 0.2s ease-out;
}
.navbar .menu-right .profile-photo:hover {
  border: 2px solid #ff7d1a;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 90;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
.overlay.visible {
  opacity: 1;
  pointer-events: all;
}

.container {
  padding: 1.7rem 10.3rem;
}

@media only screen and (max-width: 1119px) {
  .container {
    padding: 0.85rem 5.15rem;
  }
}
@media only screen and (max-width: 500px) {
  .container {
    padding: 0.5rem 1.5rem;
  }
}

/*# sourceMappingURL=main.css.map */
