@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.navbar {
  height: 83px;
  overflow: hidden;
  border-bottom: 1px solid $light-grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $white;
  z-index: 80;

  .menu-left {
    display: flex;
    align-items: center;

    .logo-img {
      height: 20px;
    }

    .hamburger-icon {
      @include buttonReset;
      padding-right: 1rem;
      padding-top: 0.3rem;

      .fa-bars {
        color: $medium-greyish-blue;
        font-size: 17px;
      }
    }

    .close-menu-icon {
      @include buttonReset;

      opacity: 0;
      visibility: hidden;
      transform: rotate(0deg);
      transition: transform 200ms cubic-bezier(0.34, 1.56, 0.64, 1.2),
        opacity 0.2s ease, visibility 0.2s ease;

      &.showX {
        display: block;
        opacity: 1;
        visibility: visible;
        margin-bottom: 56px;

        .fa-xmark {
          color: $dark-greyish-blue;
          font-size: 18px;
        }
      }

      &.clicked {
        transform: rotate(-15deg);
      }
    }

    .nav-links {
      ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          position: relative;
          font-size: 15px;
          color: $dark-greyish-blue;
          line-height: 26px;
          margin-right: 2rem;

          &::after {
            content: "";
            position: absolute;
            bottom: -28px;
            left: 0;
            width: 100%;
            height: 4px;
            background: $orange;
            opacity: 0;
            transition: opacity 0.2s ease-in-out;
          }

          &:hover::after {
            opacity: 1;
          }

          @media (min-width: 1120px) {
            &:first-child {
              margin-left: 4rem;
            }
          }
        }
      }

      @media (max-width: 1119px) {
        position: fixed;
        top: 0;
        left: -110%;
        width: 300px;
        height: 100vh;
        background-color: $white;
        padding: 48px 0 0 80px;
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        transition: left 0.3s ease-in-out;
        z-index: 999;

        ul {
          flex-direction: column;

          li {
            margin: 1rem 0;
            font-size: 18px;
            font-weight: 700;
            color: $very-dark-blue;
          }
        }

        &.open {
          left: 0;
        }
      }
    }

    @media (min-width: 1120px) {
      .hamburger-icon,
      .close-menu-icon {
        display: none;
      }
    }
  }

  .menu-right {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    .cart {
      position: relative;
      cursor: pointer;

      .cart-quantity {
        position: absolute;
        top: -5px;
        right: -8px;
        height: 13px;
        width: 19px;
        background-color: $orange;
        color: $white;
        font-size: 10px;
        font-weight: 700;
        display: flex;
        justify-content: center;
        border-radius: 45%;
      }

      svg {
        fill: $dark-greyish-blue;
        transition: fill 0.2s ease-in-out;

        &:hover {
          fill: $very-dark-blue;
        }
      }
    }

    .profile-photo {
      height: 50px;
      border-radius: 100%;
      border: 2px solid transparent;
      transition: border 0.2s ease-out;

      &:hover {
        border: 2px solid $orange;
      }
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba($black, 0.75);
  z-index: 90;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;

  &.visible {
    opacity: 1;
    pointer-events: all;
  }
}
